:root{
    --main-color:#8e44ad;
    --red:#e74c3c;
    --orange:#f39c12;
    --light-color:#888;
    --light-bg:#eee;
    --black:#2c3e50;
    --white:#fff;
    --border:.1rem solid rgba(0,0,0,.2);
 }
 
 *{
    font-family: 'Cabin', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
 }
 
 *::selection{
    background-color: var(--main-color);
    color:#fff;
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 html::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
 }
 
 html::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 }
 
 body{
    background-color: var(--light-bg);
    padding-left: 30rem;
 }
 
 body.dark{
    --light-color:#aaa;
    --light-bg:#333;
    --black:#fff;
    --white:#222;
    --border:.1rem solid rgba(255,255,255,.2);
 }
 
 body.active{
    padding-left: 0;
 }
 
 section{
    padding:2rem;
    margin: 0 auto;
    max-width: 1200px;
 }

 .header{
    position: sticky;
    top:0; left:0; right: 0;
    background-color: var(--white);
    z-index: 1000;
    border-bottom: var(--border);
 }
 
 .header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
 }
 
 .header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
 }
 
 .header .flex .search-form{
    width: 50rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding:1.5rem 2rem;
    display: flex;
    gap:2rem;
 
 }
 
 .header .flex .search-form input{
    width: 100%;
    font-size: 1.8rem;
    color:var(--black);
    background:none;
 }
 
 .header .flex .search-form button{
    background:none;
    font-size: 2rem;
    cursor: pointer;
    color:var(--black);
 }
 
 .header .flex .search-form button:hover{
    color: var(--main-color);
 }
 
 .header .flex .icons div{
    font-size: 2rem;
    color:var(--black);
    background-color: var(--light-bg);
    border-radius: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    cursor: pointer;
    text-align: center;
    margin-left: .7rem;
 }
 
 .header .flex .icons div:hover{
    background-color: var(--black);
    color:var(--white);
 }
 
 .header .flex .profile{
    position: absolute;
    top:120%; right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: .2s linear;
    width: 30rem;
 }

 .side-bar{
    position: fixed;
    top: 0; left: 0;
    width: 30rem;
    background-color: var(--white);
    height: 100vh;
    border-right: var(--border);
    z-index: 1200;
 }
 
 .side-bar #close-btn{
    text-align: right;
    padding: 2rem;
    display: none;
 }
 
 .side-bar #close-btn i{
    text-align: right;
    font-size: 2.5rem;
    background:var(--red);
    border-radius: .5rem;
    color:var(--white);
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
 }
 
 .side-bar #close-btn i:hover{
    background-color: var(--black);
 }
 
 .side-bar .profile{
    padding:3rem 2rem;
    text-align: center;
 }
 
 .side-bar .profile .image{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 
 .side-bar .profile .name{
    font-size: 2rem;
    color:var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 
 
 .side-bar .profile .role{
    font-size: 1.8rem;
    color: var(--light-color);
 }

 
 
 .side-bar .navbar a{
    display: block;
    padding: 2rem;
    font-size: 2rem;
 }
 
 

 
 .side-bar .navbar a i{
    margin-right: 1.5rem;
    color:var(--main-color);
    transition: .2s linear;
 }
 
 .side-bar .navbar a span{
    color:var(--light-color);
 }
  
 .side-bar .navbar a:hover{
    background-color: var(--light-bg);
 }
 
 .side-bar .navbar a:hover i{
    margin-right: 2.5rem;
 }
 
 .side-bar.active{
    left: -30rem;
 }

 header {
    background-color: #d400ff;
    color: #fff;
    padding: 20px;
    text-align: center;
 }
 .header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 1.5rem 2rem;
}

.header .flex .logo{
   font-size: 2.5rem;
   color: var(--black);
}

.header .flex .search-form{
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.5rem 2rem;
   display: flex;
   gap:2rem;

}

.header .flex .search-form input{
   width: 100%;
   font-size: 1.8rem;
   color:var(--black);
   background:none;
}

.header .flex .search-form button{
   background:none;
   font-size: 2rem;
   cursor: pointer;
   color:var(--black);
}

.header .flex .search-form button:hover{
   color: var(--main-color);
}

.header .flex .icons div{
   font-size: 2rem;
   color:var(--black);
   background-color: var(--light-bg);
   border-radius: .5rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   cursor: pointer;
   text-align: center;
   margin-left: .7rem;
}

.header .flex .icons div:hover{
   background-color: var(--black);
   color:var(--white);
}

.header .flex .profile{
   position: absolute;
   top:120%; right: 2rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 1.5rem;
   text-align: center;
   overflow: hidden;
   transform-origin: top right;
   transform: scale(0);
   transition: .2s linear;
   width: 30rem;
}

.header .flex .profile.active{
   transform: scale(1);
}

.header .flex .profile .image{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.header .flex .profile .name{
   font-size: 2rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.header .flex .profile .role{
   font-size: 1.8rem;
   color: var(--light-color);
}
 
 .discuss {
    width: 650px;
    height: 300px;
    background-color:#e4cee7;
    margin-left: 200px ;
    margin-top: 50px;
    padding: 0 20px;
    box-shadow: 5px 5px 10px black;
 }

 h1{
   font-size: 40px;
   font-family: 'Cabin';
 }

 .question{
   width:600px;
   height:100px;
   /*margin: 60px;*/
   margin-top: 60px;
   background-color: white;

}

#post-name{
   font-size: 25px;
   font-weight: bold;
   font-family: 'Raleway';
}

#post-position{
   font-size: 15px;
   font-family: 'Cabin';
   margin-left:25px;

}

#questions{
   font-size: 20px;
   font-family: 'Raleway';
   margin-top: 20px;

}

.discuss-state{
   margin-top: 200px;
   margin-left: 600px;
   text-align: center;

}

.add{
   justify-content: center;
   text-align: center;
   width: 60px;
   height: 30px;
   border: none;
   border-radius: 10px;
}
 
 #discuss-container {
    margin-top: 200px;
    width: 500px;
    height: 500px;
 }
 
 .post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
 }
 
 #post-content {
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Raleway';
 }
 
 button {
    background-color: #d400ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
 }

 #dbutton{
   margin-top: 100px;
   margin-left: 400px;
   width:300px;
   border: none;
   border-radius: 20px;
 }
 #past-question{
   width: 100%;
   height: 110px;
   box-shadow: 0px 0px 5px black;

 }
 
 button:hover {
    background-color: #0056b3;
 }