body {
    background-size: cover;
    background-color: #fff; /* Same as the first CSS file */
    height: 100vh;
    font-family: 'EB Garamond', sans-serif;
}

.title {
    margin-top: 3vh; /* Adjusted to match the first CSS file */
    text-align: center;
    font-size: 5vw;
    color: #663399; /* Same as the first CSS file */
}

h1 {
    text-align: center;
    font-size: 5vw;
    color: #663399; /* Same as the first CSS file */
    margin-top: 3vh;
}

h3 {
    font-size: 2vw;
    text-align: center;
    color: #000; /* Same as the first CSS file */
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 10vh auto;
    padding: 0.25vw;
    background-color: #B9BFFF; /* Same as the first CSS file */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 80%;
    max-width: 300px;
    height: 5vh;
    margin-bottom: 2vh;
    padding: 1vw;
    border: none;
    border-radius: 20px;
}

p {
    color: white;
    font-size: 1.5vw;
}

.btn {
    width: 100%;
    max-width: 600px;
    height: 5vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-size: 1.5vw;
    background-color: #663399; /* Same as the first CSS file */
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s;
    color: #fff;
}

.btn:hover {
    background-color: #a64dff; /* Same as the first CSS file */
}
